---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
title: News &bull; Happenings &bull; Information
redirect_to: https://discuss.lfnw.org/c/lfnw-blog/10
---
{%- for post in paginator.posts -%}
<article class="post h-entry container" itemscope itemtype="http://schema.org/BlogPosting">
  <h3 class="text-center">
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  <p class="post-meta text-center small">
    <i>
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: site.dateformat }}
      </time>
      {%- if post.author -%}
        &bull; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
      {%- endif -%}
    </i>
  </p>
  {%- if site.show_excerpts -%}
    {{ post.excerpt }}
  {%- endif -%}
  <hr/>
</article>
{%- endfor -%}

<div class="d-flex justify-content-around">
  <nav aria-label="pagination" class="">
    <ul class="pagination">
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">previous</span>
          </a>
        </li>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="page-item active">
            <a class="page-link" href="#" aria-label="page {{ page }}">
              <span>{{ page }}</span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            {% if page == 1 %}
              <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="page {{ page }}">
                <span>{{ page }}</span>
              </a>
            {% else %}
              <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}" aria-label="page {{ page }}">
                <span>{{ page }}</span>
              </a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path }}" aria-label="next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <p class="rss-subscribe">
    <i>subscribe via</i>
    <a href="{{ "/feed.xml" | relative_url }}">
      RSS
      <i class="fas fa-rss"></i>
    </a>
  </p>
</div>
