@import 'breakpoints';

/*
 * Color variables - http://chir.ag/projects/name-that-color
 */

$web-orange: #fca300;
$half-dutch-white: #fef7de;
$hippie-blue: #6a9cb3;
$elephant: #153a57;
$tall-poppy: #be2626;
$golden-sand: #f3d483;

/*
 * Font set variables
 */

$header-fonts: "Arvo","Cambria","American Typewriter","Courier","Courier New",serif;
$text-fonts: "Open Sans","Tahoma",sans;

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: bold;
  src: url("#{ $baseurl }/assets/fonts/Arvo-Bold.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal; /* or 400 */
  src: url("#{ $baseurl }/assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal; /* or 400 */
  src: url("#{ $baseurl }/assets/fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold; /* or 700 */
  src: url("#{ $baseurl }/assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: url("#{ $baseurl }/assets/fonts/OpenSans-BoldItalic.ttf");
}
/*
 * LFNW 2018 style
 */

body {
  background-color: $half-dutch-white;

  .navbar.sticky-top {
    background-color: $web-orange !important;

    a {
      &:hover {
        color: black !important;
      }
    }
  }

  :not(.fas), :not(.fab) {
    font-family: $text-fonts;
  }

  .btn.btn-success {
    border-color: $web-orange;
    background-color: $web-orange;
  }

  .thumbnail {
    border-radius: 8px;
    border: none;

    &:hover {
      text-decoration: none;
    }
  }

  #banner{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: -10px;
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
      #header  {
        background-color: rgba(224, 224, 224,.80);
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }


  #banner {
    background-image: url("#{ $baseurl }/assets/img/mountains.png");
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 100%;
    background-color: $half-dutch-white;
    padding-top: 40px;
    padding-bottom: 0px;
    @include breakpoint(xs) {
      padding-top: 0px !important;
    }
    @include breakpoint(sm) {
      padding-top: 0px !important;
    }

    h2, h3, h4, h5, h6 {
      color: $elephant !important;
      font-weight: bold;
    }

    #header {
      background: none !important;
      padding-top: 20px;
      padding-bottom: 20px;

      h1 {
        font-family: $header-fonts;
        font-weight: bold;
        color: $web-orange;
        text-shadow: 0 1px 1px #e04c10;
        margin-top: 0 !important;
        @include breakpoint(xs) {
          font-size: 2.6em;
        }
        @include breakpoint(sm) {
          font-size: 3em;
        }
        @include breakpoint(md) {
          font-size: 3.3em;
          white-space: nowrap;
        }
        @include breakpoint(lg) {
          font-size: 4em;
          white-space: nowrap;
        }
      }

      h2 {
        font-family: $text-fonts;
        font-weight: bold;
        margin-top: 0 !important;
        @include breakpoint(xs) {
          font-size: 1.4em;
        }
        @include breakpoint(sm) {
          font-size: 1.55em;
        }
        @include breakpoint(md) {
          font-size: 1.7em;
          white-space: nowrap;
        }
        @include breakpoint(lg) {
          font-size: 2.1em;
          white-space: nowrap;
        }

        a {
          text-decoration: none;
          color: inherit !important;
        }

        span + span {
          &::before {
            content: '\2022'
          }
        }
      }
    }
  }

  #banner + section {
    background-image: url("#{ $baseurl }/assets/img/trees_outline-hippie-blue.png");
    background-position: top center;
    background-repeat: repeat-x;
    padding-top: 100px;
  }

  section + #social {
    background-image: url("#{ $baseurl }/assets/img/trees_outline-half-dutch-white.png");
    background-position: top center;
    background-repeat: repeat-x;

    padding-top: 100px;
  }

  #social {
    background-color: $elephant;
    padding-bottom: 60px;

    a {
      padding-left: 100px;
      text-decoration: none;
      color: $hippie-blue;

      &:hover {
        color: $web-orange;
      }
    }
    a:nth-child(-n+1) {
      padding-left: 0px;
    }
    @include breakpoint(xs) {
      a {
        padding-left: 10px;
      }
    }
  }

  footer {
    background: $tall-poppy;
    color: $half-dutch-white;

    a {
      color: $golden-sand;
    }
  }

  .post-header {
    margin-bottom: 1em;
  }

  #byline {
    font-style: italic;
  }

  #social-media-posts {
    a {
      text-decoration: none;
      margin-left: 1em;
      color: $hippie-blue;

      &:hover {
        color: $web-orange;
      }
    }
  }
}
