<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LFNW: {{ page.title }}</title>
    <!-- favicons -->
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/img/favicon-96x96.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon-16x16.png" | prepend: site.baseurl }}">
    <!-- css -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap-4.1.3.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{{ "/assets/img/favicon-32x32.png" | prepend: site.baseurl }}" alt="LFNW logo" title="LinuxFest Northwest">
          LinuxFest Northwest
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% for item in site.data.header_links.items %}
            <li class="nav-item {% if item.url == page.url %}active{% endif %}">
              <a class="nav-link" href="{{ item.url }}">
                {{ item.title }}
                {% if item.url == page.url %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ "/feed.xml" | relative_url }}">
                <i class="fas fa-rss"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="banner">
      <div id="header" class="container text-center">
        <img class="img-fluid d-none d-md-inline-block" src="{{ "/assets/img/LFNW color horizontal - Final.svg" | prepend: site.baseurl }}" alt="LinuxFest Northwest" title="LinuxFest Northwest">
        {%- if page.title -%}
          <h2>{{ page.title }}</h1>
        {%- else -%}
          <h2>Blog</h2>
        {%- endif -%}
      </div>
    </section>
    {{ content }}
    <section id="social">
      <div class="container d-flex justify-content-around">
        <a href="{{ "https://discuss.lfnw.org/c/lfnw-blog/10.rss" | relative_url }}" title="RSS Feed">
          <i class="fas fa-rss"></i>
        </a>
        {%- if site.facebook -%}
          <a href="https://www.facebook.com/{{ site.facebook }}/" target="_blank" title="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
        {%- endif -%}
        {%- if site.twitter -%}
          <a href="https://twitter.com/{{ site.twitter }}" target="_blank" title="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        {%- endif -%}
        {%- if site.instagram -%}
          <a href="https://www.instagram.com/{{ site.instagram }}/" target="_blank" title="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        {%- endif -%}
        {%- if site.mastodon_url -%}
          <a href="{{ site.mastodon_url }}" target="_blank" title="Mastodon">
            <i class="fab fa-mastodon"></i>
          </a>
        {%- endif -%}
        {%- if site.youtube -%}
          <a href="https://youtube.com/{{ site.youtube }}" target="_blank" title="YouTube">
            <i class="fab fa-youtube"></i>
          </a>
        {%- endif -%}
        {%- if site.email -%}
          <a href="mailto:{{ site.email }}" title="Email">
            <i class="fas fa-envelope"></i>
          </a>
        {%- endif -%}
      </div>
    </section>
    <footer>
      <div class="container small text-center">
        This software is
        <a href="http://www.gnu.org/philosophy/free-sw.html" target="_blank">
          free software
        </a>
        released under the
        <a href="http://opensource.org/licenses/MIT" target="_blank">
          MIT license
        </a>.
        You can run, copy, distribute, study, change and improve it.
        <br/>
        This site's content is licensed under the
        <a href="http://creativecommons.org/licenses/by-sa/4.0/">
          Creative Commons Attribution-ShareAlike 4.0 International License
        </a>.
      </div>
    </footer>
    </nav>
    <!-- javascript -->
    <script src="{{ "/assets/js/jquery-3.3.1.slim.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/popper-1.14.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-4.1.3.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/assets/js/fontawesome-5.5.0-all.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/assets/js/webfont-1.6.26.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/assets/js/lfnw-2018.js" | prepend: site.baseurl }}"></script>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDomains", ["*.blog.lfnw.org","*.blog.linuxfestnorthwest.org"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://lfnw.innocraft.cloud/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://lfnw.innocraft.cloud/piwik.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
  </body>
</html>
